<a href="https://colab.research.google.com/github/KimEun-Bi/etc../blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AF%B8%EC%85%98(%EC%9D%91%EC%9A%A9_7%EC%9B%94_%EA%B0%9C%EA%B0%95%EB%B0%98)%EC%9D%98_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#미션1. 이름으로 삼행시 짓기
#김은비
print("김이 먹고싶어요")
print("은비랑")
print("비내리는점심시간")

기초 수업

In [ ]:
#미션2. 여러분의 변수를 만들어봅시다. my_var라는 이름의 변수를 만들고, print로 출력해서 확인해봅시다 #123
my_var = 123
print(my_var)

In [ ]:
#숫자형
type(10)
type(10.4)

In [ ]:
#연산
#더하기
a=10
b=2

a+b

In [ ]:
a-b #빼기

In [ ]:
a*b #곱셈

In [ ]:
a**b #제곱

In [ ]:
a/b #나누기

In [ ]:
a%b #나머지

In [ ]:
a//b #몫

In [ ]:
#미션3.0
## 숫자 50과 숫자 50 더해서 출력하기
a=50
b=50

print(a+b)

In [ ]:
print(50+50)

In [ ]:
#숫자, 문자, 불린
##문자열
type("hello world")

In [ ]:
print("안녕"+"하세요")

In [ ]:
print("안녕 "*3)

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기
a=('50')
b=('50')
print(a+b)

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기
print('50'+'50')

In [ ]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넢은 수식을 작성해봅니다. 
intdiv = 16//4
#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다
modular=7%6
#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.
expo = 4**2
#위의 세변수를 출력해서 확인해봅시다
print(intdiv, modular, expo)

In [ ]:
#불린
##자료 묶음으로 리스트 튜플

In [ ]:
#불린
a=1
b=2
print(a<b)

In [ ]:
a=1
b=2
print(a>b)

In [ ]:
t,f = True, False
type(t)

In [ ]:
#and or not
ab = 3==3 and 2<5
bc = 4>=6
cd = not 4>5

print(ab, bc, cd)

In [ ]:
#미션4. 비교연산자로 명제 만들기

## == 혹은 != 연산자를 이용해서 True인 명제를 ans1에 넣어봅시다.
ans1 = 3==3

## > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다
ans2 = 4<3

##위의 변수를 출력해서 정답을 확인해봅시다. 
print(ans1, ans2)

In [ ]:
##데이터 묶음으로 표현이 가능한 자료형 : 리스트
a = [1,2,3,4]

In [ ]:
type(a)

In [ ]:
print("문자열'작은따오옴표'")

In [ ]:
#뽑아오기 찾기 : 인덱싱 "문자열'작은따오옴표'"
v=["화이자","모더나", "AZ","얀센"]
type(v)

In [ ]:
#인덱싱
v[0]

In [ ]:
#인덱싱
v[1]

In [ ]:
#인덱싱
v[-1]

In [ ]:
#슬라이싱: 쪼개기
v[1:]

In [ ]:
v[:]

In [ ]:
v[:-1] #n-1

In [ ]:
v[:2] #n-1

In [ ]:
#인덱싱을 사용해서 수정도 가능해요
v[2] = 'AA'
v

In [ ]:
#추가도 가능해요
v.append('BB')
v

In [ ]:
#추가하는 방법은 append, insert
v.insert(2,3)
v

In [ ]:
#미션3.1
## 리스트 50과 리스트 50 더해서 출력하기
print([50]+[50])

In [ ]:
ㅋa=[50]
b=[50]
print(a+b)

In [ ]:
card=300
print("원하는 서비스를 선택하시오")
print(" ")
print("(교통카드 충전 터치)")
print("교통카드 충천을 선택하셨습니다")
print(" ")
print("(충전할 교통카드 올리기)")
print(" ")
print("=================================================================")
print("충전 전 금액", card, " 원")
money = input("충전할 금액을 입력하여 주십시오 (원): ")
money = int(money)
print(" ")
cash = int(input("충전할 금액을 넣어 주십시오(넣을 현금금액 입력): "))
print("=================================================================")
print(" ")
print("===================================================================")
if money <= cash:
  card = card+cash
  print(money, "원이 충전되었습니다.")
  print("현재 잔액: ", card, " 원")
  print("거스르돈", cash-money, "원을 가져가십시오")
  print("==================================================================")
  print(" ")

else:
  print("금액이 부족합니다")
  print(money-cash, "원을 추가로 넣어 주십시오")
  print("(", money-cash, "원 넣기)")
  print(money, "원이 충전되었습니다")
  card = card+money
  print("현재 잔액: " , card, "원")
  print("=================================================================")
  print(" ")

print("=================================================================")
print("카드를 회수하여주십시오")
print("이용해주셔서 감사합니다")

In [ ]:
###if 문 조건을 배울거다
a = 40
b = 100

if b < a:
  print("b 가 a보다 큼")

In [ ]:
#elif:  그렇지않으면
a = 42
b = 41

if b > a:
  print("b가 a보다 큼")
elif a == b:
  print("a랑 b는 같음")

In [ ]:
##응용 . 점심메뉴 정하기

메뉴 ='짜장면'
중국집 = ['짜장면', '탕수육', '짬뽕']
일식집 = ['초밥', '우동', '돈가스']

if 메뉴 in 중국집:
  print("중국집으로 가자")
elif 메뉴 in 일식집:
  print("일식집으로 가자")

In [ ]:
#or and

a = 9
b = 42

if b>a and b<200:
  print("b가 a보다 크고 200보다 작음")

In [ ]:
a = 42
b = 9
if b < a or b < 10:
  print("b가 a보다 작거나 10보다 작음")

In [ ]:
#if는 중첩이가능하다= if 속에 if를 사용할수 잇다
a = 10
b=9

if b>10:
  print("b가 10보다 큼")
  if b>a:
    print("b가 a보다 큼")
  else:
    pass

In [ ]:
#미션5. 2배로 적금만들기

##변수 money에 input을 이용해서 입력을 받아봅시다.
money = input()

##money를 int형으로 변환해서, 다시 money에 넣어줍니다.
money = int(money)

##money를 2배로 불려서 print로 출력을 해봅시다
print(money*2)

In [ ]:
#미션6. 기차놀이
#현재 기차에는 3명의 승객이 탑승하고 있습니다. ('금비','은비','동비')
train = ['금비','은비','동비']

#서울역에 정차했습니다.
##승객 '까비'를 맨 뒷칸에 태우세요
train.append('까비')
print('서울역 도착,//', train)

#대전역에 정차했습니다.
##1등석 승객 '선녀'가 탑습했습니다. 맨앞에 태우세요
train.insert(0,'선녀')
print('대전역 도착.//', train)


#동대구역에 정차했습니다.
##승객 '은비'를 하차시켜주세요
train.remove('은비')
print('동대구역 도착.//', train)

#마지막 역인 부산에 정차했습니다.
##원할한 하차를 위해 손님들의 자리를 사전순으로 다시 지정해주세요
train.sort()
print('부산역 도착.//', train)

In [ ]:
#미션6. 홀짝판별기

##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())

##if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다
if num %2 == 0:
  print(num, "짝수입니다")
else:
  print(num, "홀수입니다")

In [ ]:
#미션7. 업-다운

##변수 answer에 수 1~50 중 하나를 넣어봅시다.
answer = 2

##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())

##if-elif-else 문으로 
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다. 
if answer < submit:
  print("정답보다 더 큰수를 입력했습니다")
elif answer > submit:
  print("정답보다 더 작은 수를 입력했습니다")
else:
  print("정답!")

In [ ]:
if answer < submit:
  print("정답보다 더 큰수를 입력했습니다")
elif answer == submit:
  print("정답!")
else:
  print("정답보다 더 작은수를 입력했습니다")

In [ ]:
#반복문 while
i = 1
while i<11:
  print(i)
  i=i+1

In [ ]:
#미션8
#미션
#while을 이용해서 "i 년째 수감중입니다."를 출력해봅시다.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해봅시다.
i=1
while i<=10:
  print(i,"년째 수감중입니다")
  i=i+1 #i가 임의 주어진 수를 넘을 수 없도로
print("감옥에서 석방되었습니다. ")

In [ ]:
#반복문 for를 실습해보자
# for 원소 in 변수:

fruits = ["apple","banana","peach"]
for x in fruits:
  print(x)

In [ ]:
for i in [1,2,3,4,5,6,7,8,9] :
  print(i)

In [ ]:
#range() 연속된 숫자를 만드는 함수

for i in range(1,11):
  print(i)

In [ ]:
a = list(range(1,10))
a

In [ ]:
for x in range(100,10,-10):
  print(x)

In [ ]:
##for break-> 루프 무한 반복 구문 빠져나올수잇겠금 <-> pass: 결과 가 없이 지나감
##if: pass break
fruits = ["apple","banana","peach","fig"]

for x in fruits:
  print(x)
  if x == "peach":
    break

In [ ]:
fruits = ["apple","banana","peach","fig"]

for x in fruits:
  print(x)
  if x == "peach":
    pass

In [ ]:
#미션 19단 외우기 #변수i사용해보기

for i in range(1,20):
 print("19 *", i, "=", 19*i)