<a href="https://colab.research.google.com/github/KimEun-Bi/etc../blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9D%91%EC%9A%A9_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **print()**

1.   항목 추가
2.   항목 추가

ㅇㅇㅇㅇㅇㅇㅇㅇ

In [ ]:
######주석

In [ ]:
#print() 
###은 주석이예요
print("Hello, World!")

Hello, World!

In [ ]:
#미션1. 이름으로 삼행시 짓기

변수: **자료형**의 값을 저장하는 공간

In [ ]:
#미션2. 여러분의 변수를 만들어봅시다. my_var라는 이름의 변수를 만들고, print로 출력해서 확인해봅시다

이론수업 PPT로!

# **자료형(연산)**

자료형(숫자형)

In [ ]:
#자료형을 알아보자!

type(10)

int

In [ ]:
#자료형을 알아보자!
type(3.14)

float

연산

In [ ]:
#연산
a = 10
b = 2

In [ ]:
# 더하기
a + b

12

In [ ]:
# 빼기
a - b

-8

In [ ]:
# 곱하기
a * b

20

In [ ]:
# 제곱
a ** b

1024

In [ ]:
# 나누기
a / b

5.0

2

In [ ]:
# 나누기 나머지
a%b

0

In [ ]:
# 나누기 : 몫
a // b

5

자료형(문자형)

In [ ]:
#자료형을 알아보자!
type('Hello word')

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕"*3)

안녕안녕안녕

In [ ]:
#미션3.0
## 숫자 50과 숫자 50 더해서 출력하기

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기

In [ ]:
#미션3.1
## 리스트 50과 리스트 50 더해서 출력하기

In [ ]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넢은 수식을 작성해봅니다. 

#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다

#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.

#위의 세변수를 출력해서 확인해봅시다
print(intdiv, modular, expo)

자료형(불린, 논리 자료형)

In [ ]:
# 불린(boolean)
a = 1
b = 2

In [ ]:
print(a<b)

True

In [ ]:
print(b<a)

False

In [ ]:
#자료형을 알아보자!
t, f = True, False
type(t)

bool

In [ ]:
#미션4. 비교연산자로 명제 만들기

## == 혹은 != 연산자를 이용해서 True인 명제를 ans1에 넣어봅시다.


## > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다


##위의 변수를 출력해서 정답을 확인해봅시다. 
print(ans1, ans2)

In [ ]:
#불린의 연산(and, or, not)

ab = 3==3 and 2<5
bc = 4>=6
cd = tno 4>5

print(ab, bc, cd)

자료형(리스트)

In [ ]:
a = [1, 2, 3, 4]
type(a)

list

In [ ]:
#리스트는 자르고 찾는 것이 가능해요

v =['화이자' , '모더나' , 'AZ' , '얀센' ]
type(v)

list

In [ ]:
##인덱싱(indexing)
v[1]

'모더나'

In [ ]:
v[0]

'화이자'

In [ ]:
v[-1]

'얀센'

In [ ]:

v =['화이자' , '모더나' , 'AZ' , '얀센' ]

In [ ]:
## slicing (슬라이싱)
v[1:]

['모더나', 'AZ', '얀센']

In [ ]:
v[:]

['화이자', '모더나', 'AZ', '얀센']

In [ ]:
v[:-1]

['화이자', '모더나', 'AZ']

In [ ]:
v =['화이자' , '모더나' , 'AZ' , '얀센' ]

In [ ]:
v[2] = 'AA' # 수정
v

['화이자', '모더나', 'AA', 'AA', '얀센', 'BB']

In [ ]:
v.append('BB') #추가 : 자료를 리스트 마지막 원소 뒤에 추가(오직 한개의 자료만 넣을 수 있다.)
v

['화이자', '모더나', 'AA', '얀센', 'BB']

In [ ]:
v.insert(2,3) #list.insert(i,d): 인덱스 i(위치)에 자료d(값)를 추가(오직 한개의 자료만 넣을 수있다())
v

['화이자', '모더나', 3, 'AA', '얀센', 'BB']

In [ ]:
v.sort() #정렬: 숫자형은 오름차순, 문자열은 사전순
v

['AZ', '모더나', '얀센', '화이자']

In [ ]:
v.reverse() #거꾸로
v

['화이자', '얀센', '모더나', 'AZ']

In [ ]:
v.index('화이자') #bb는 어디있나요

0

In [ ]:
v.remove('화이자') #제거
v

['얀센', '모더나', 'AZ']

자료형(튜플)

In [ ]:
#  튜플

type(('화이자' , '모더나' , '아스트라제네카' , '얀센'))

tuple

Set (집합)

In [ ]:
# Set - 중복이 되면 안되는 경우

user_set_a = {"user_1", "user_2", "user_3", "user_1"}
user_set_b = {"user_2", "user_3"}

print(user_set_a)

{'user_1', 'user_2', 'user_3'}

In [ ]:
type(user_set_a)

set

In [ ]:
# 교집합
user_set_a & user_set_b

{'user_2', 'user_3'}

In [ ]:
# 합집합
user_set_a | user_set_b

{'user_1', 'user_2', 'user_3'}

In [ ]:
# 차집합
user_set_a - user_set_b

{'user_1'}

Dict (딕셔너리)

In [ ]:
# dictionary key와 value값으로 이뤄짐

dic_1 = { '제조사' : '화이자/바이오엔텍' , 
         '플랫폼' : 'mRNA 백신 (핵산 백신)' , 
         '연령' : '만 16세 이상' }

In [ ]:
type(dic_1)

dict

In [ ]:
print(dic_1)

{'제조사': '화이자/바이오엔텍', '플랫폼': 'mRNA 백신 (핵산 백신)', '연령': '만 16세 이상'}

In [ ]:
dic_1

{'연령': '만 16세 이상', '제조사': '화이자/바이오엔텍', '플랫폼': 'mRNA 백신 (핵산 백신)'}

input() 형변환

In [ ]:
#'123' 문자열을 숫자로 바꾸기
int('123')

In [ ]:
#미션5. 2배로 적금만들기

##변수 money에 input을 이용해서 입력을 받아봅시다.


##money를 int형으로 변환해서, 다시 money에 넣어줍니다.


##money를 2배로 불려서 print로 출력을 해봅시다

시퀀스 정리하기

In [ ]:
#미션6. 기차놀이
#현재 기차에는 3명의 승객이 탑승하고 있습니다. 
train = ['금비','은비','동비']

#서울역에 정차했습니다.
##승객 '까비'를 맨 뒷칸에 태우세요

print('서울역 도착.//',train)

#대전역에 정차했습니다.
##1등석 승객 '선녀'가 탑습했습니다. 맨앞에 태우세요

print('대전역 도착.//', train)

#동대구역에 정차했습니다.
##승객 '은비'를 하차시켜주세요

print('대구역 도착.//', train)

#마지막 역인 부산에 정차했습니다.
##원할한 하차를 위해 손님들의 자리를 사전순으로 다시 지정해주세요

print('부산역 도착.//', train)

이론수업 ppt로!

if ... else
* a == b
* a != b #같지않다
* a < b
* a <= b
* a > b
* a >= b

In [ ]:
a = 42
b = 100
if b < a:
  print("b 가 a보다 큼")

In [ ]:
# Elif - 그렇지않다면
a = 41
b = 40
if b > a:
  print("b 가 a보다 큼")
elif a == b:
  print("a 와 b는 같음")

In [ ]:
# if .. elif .. else
a = 101
b = 100
if b > a:
  print("b 가 a보다 큼")
elif a == b:
  print("a 랑 b 는 같음")
else:
  print("a 가 b보다 큼")

a 가 b보다 큼

In [ ]:
#응용.점심메뉴 정하기
메뉴 = '또띠아' # 먹고싶은 메뉴
중국집 = ['짜장면', '탕수육', '삼선짬뽕']
일식집 = ['초밥', '우동', '돈까스']

if 메뉴 in 중국집:
  print("중국집으로 시키자!")
elif 메뉴 in 일식집:
  print("일식집으로 시키자!")

In [ ]:
# and
a = 42
b = 100
if b > a and b < 200:
  print("b 가 a보다 크고 200보다는 작음")

b 가 a보다 크고 200보다는 작음

In [ ]:
# or
a = 42
b = 11
if b > a or b > 10:
  print("b 가 a나 10보다 큼")

b 가 a나 10보다 큼

In [ ]:
#if 속의 if
a = 10
b = 100
if b > 10:
  print("b 가 10보다 큼")
  if b > a:
    print("b 가 a보다 큼")
  else:
    pass

b 가 10보다 큼
b 가 a보다 큼

In [ ]:
#미션6. 홀짝판별기

##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())
##if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다
if num%2 == 0:
  print(num,"짝수입니다")
else:
  print(num, "홀수입니다")

In [ ]:
#미션6. 홀짝판별기

##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())
##if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다
if num%2 == 1:
  print(num,"홀수입니다")
else:
  print(num, "짝수입니다")

In [ ]:
#미션7. 업-다운

##변수 answer에 수 1~50 중 하나를 넣어봅시다.
answer = 2

##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())

##if-elif-else 문으로 
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다. 
if answer < submit:
  print('정답보다 더 큰 수를 입력했습니다')
elif answer == submit:
  print('정답!')
else:
  print("정답보다 더 작은 수를 입력했습니다")

5
정답보다 더 큰 수를 입력했습니다

In [ ]:
##변수 answer에 수 1~50 중 하나를 넣어봅시다.
answer = 2

##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())

##if-elif-else 문으로 
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다. 
if answer < submit:
  print('정답보다 더 큰 수를 입력했습니다')
elif answer > submit:
  print('정답보다 더 작은 수를 입력했습니다')
else:
  print("정답")

4
정답보다 더 큰 수를 입력했습니다

이론 수업 ppt로

In [ ]:
#while
i = 1
while i<11:
    print(i)
    i=i+1

In [ ]:
#while
#미션
#while을 이용해서 "i 년째 수감중입니다."를 출력해봅시다.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해봅시다.

j=1
while j<=10:
    print(j, "년째 수강중입니다")
    j=j+1 #j가 10년을 넘을수있도록
print("감옥에서 석방되었습니다!")

for
- 순서형 자료를 반복 실행 (iterate)

In [ ]:
fruits = ["apple", "banana", "peach", "fig"]
for x in fruits:
  print(x)

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10] :
  print(i)

In [ ]:
# range()
for x in range(1, 11):
  print(x)

In [ ]:
a = range(1,10)
a

In [ ]:
for x in range(1, 10, 3):
  print(x)

In [ ]:
for x in range(100, 10, -10):
  print(x)

break

In [ ]:
fruits = ["apple", "banana", "peach", "fig"]
for x in fruits:
  print(x)
  if x == "peach":
    break # 구문 빠져나옴

In [ ]:
fruits = ["apple", "banana", "peach", "fig"]
for x in fruits:
  print(x)
  if x == "peach":
    pass

In [ ]:
#미션 19단 외우기 #변수i사용해보기

In [ ]:
#미션 19단 외우기 #변수i사용해보기

이론 수업 ppt로

In [ ]:
# 불러오기
import numpy as np

In [ ]:
# 버전 확인
print(np.__version__)

In [ ]:
# numpy array 만들기 - 1차원
arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))

In [ ]:
# numpy array 만들기 - 1차원
arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))

In [ ]:
# 2차원 numpy array 

arr2 = np.array([[1, 2, 3], [4, 5, 6]])

print(arr2)

In [ ]:
# 3차원 numpy array 
arr3 = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr3)

In [ ]:
# array 차원 확인
print(arr.ndim)
print(arr2.ndim)
print(arr3.ndim)

In [ ]:
# 더 높은 차원의 array
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print(arr.ndim, '차원')

In [ ]:
# 1차원 array에 접근
arr = np.array([1, 2, 3, 4])

print(arr[0])
print(arr[1])
print(arr[2]+arr[3])

In [ ]:
# 2차원 array에 접근
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('첫번째 차원의 두번째 개체 : ', arr[0, 1])

In [ ]:
# 3차원 array에 접근
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print('첫번째 array의 두번째 array의 세번째 개체 : ', arr[0, 1, 2])

In [ ]:
# negative indexing
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2번째 차원의 마지막 개체 : ', arr[1, -1])

In [ ]:
#쪼개기

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print(arr[1:5])
print(arr[1:5:2])
print(arr[:3])
print(arr[5:])

이론 수업으로

pandas

In [ ]:
import pandas as pd

In [ ]:
# pandas 버전 확인
print(pd.__version__)

In [ ]:
pd.Series(['코기', '허스키', '푸들'])

In [ ]:
city_names = pd.Series(['서울', '부산', '대전'])
population = pd.Series([9776000, 3429000, 1531000])

pd.DataFrame({'도시': city_names, '인구':population})

In [ ]:
# dict생성시 Series의 길이가 일치하지 않는 경우, 누락된 값은 특수 NA/NaN 값으로 채워진다.
city_names = pd.Series(['서울', '부산', '대전', '세종'])
population = pd.Series([9776000, 3429000, 1531000])

pd.DataFrame({'도시': city_names, '인구':population})

In [ ]:
# 대부분의 경우 전체 파일을 DataFrame으로 로드
# 캘리포니아 부동산 데이터를 로드해보자.
california_housing_dataframe = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv")

In [ ]:
# dataframe에 head()를 사용하여 5개 데이터 샘플 미리보기가 가능
california_housing_dataframe.head(15)

In [ ]:
california_housing_dataframe.describe()

In [ ]:
cities = pd.DataFrame({'도시': city_names, '인구':population})
print(type(cities['도시']))
cities['도시']

In [ ]:
print(type(cities['도시'][1]))
cities['도시'][1]

In [ ]:
print(type(cities[0:2]))
cities[0:2]

#pandsa를 활용한 전처리

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol') #국내아이돌평판지수 csv파일을 다운받을 수 잇는 링크

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#loc(열, 행)
df.loc[:, '이름']

In [ ]:
df.loc[:, ['이름', '생년월일']]

In [ ]:
df.loc[:, ['이름':'생년월일']]

In [ ]:
df.iloc[:, [0, 2]]

In [ ]:
df.iloc[:, [0:2]]

In [ ]:
df.iloc[1:5, [0, 2]]

이론 ppt로!

In [ ]:
df.groupby('소속사') #groupby: 그룹으로 묶어 보기

In [ ]:
df.groupby('소속사').count()

In [ ]:
#자동으로 통계가 가능한 열만 출력됩니다.
df.groupby('그룹').mean()

In [ ]:
df.groupby('성별').sum()

In [ ]:
df.groupby('혈액형')['키'].mean()

In [ ]:
df_right = df.drop(labels='혈액형', axis=1)
df_right.head()

In [ ]:
df.head()

In [ ]:
#concat
df2 = pd.read_csv('https://bit.ly/ds-korean-idol-2') #국내 아이돌 연봉, 가족수
df2.head()

In [ ]:
df2.info()

In [ ]:
pd.concat([df, df2], sort=False)
#열(row) 기준으로 합치기 concat은 list로 합쳐줍니다. 
##열기준으로 합칠때는 sort = False로 옵션을 줘서 순서가 섞이지 않도록 해요 -> 세로로 붙여준거

In [ ]:
pd.concat([df, df2], axis=1) #행(column)을 기준으로 합칠때는 axis=1로 옵션을 부여합니다 -> 가로로 붙여준거

이론 ppt로!

In [ ]:
#merge()
## 교집합(inner)로 병합하기->모두 키값이 존재하는 경우만 병합합니다.
###여기서 키값은 이름으로 정해줬어요-> on 
import pandas as pd
pd.merge(df, df2, on='이름', how='inner')

In [ ]:
#합집합(outer)로 병합하기
###outer 방식은 키값이 존재하면 모두 병합해요
pd.merge(df, df2, on='이름', how='outer')

In [ ]:
pd.merge(df, df2, on='이름', how='left')

In [ ]:
pd.merge(df, df2, on='이름', how='right')

해결이 어려운 경우 구글링 또는 앞에서 공부한 내용을 참고하셔도 좋습니다.

In [ ]:
import pandas as pd
data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)
df

In [ ]:
#미션9 전체 데이터 중에서 '영화' 정보만 출력하시오.

.

In [ ]:
#미션10 전체 데이터 중에서 '영화', '평점' 정보를 출력하시오

In [ ]:
#미션11 2015년 이후에 개봉한 영화 데이터 중에서 '영화', '개봉 연도' 정보를 출력하시오.

In [ ]:
#미션12 주어진 계산식을 참고하여 '추천 점수' Column 을 추가하시오.
##> 추천 점수 = (관객수 * 평점) // 100
###예) 첫 번째 영화인 '명량'의 경우,

In [ ]:
#미션13 전체 데이터를 '개봉 연도' 기준 내림차순으로 출력하시오.