<a href="https://colab.research.google.com/github/KimEun-Bi/etc../blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AF%B8%EC%85%98(8_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

7월 3일
#파이썬 기초

In [ ]:
#미션1. 이름으로 삼행시 짓기

In [ ]:
######주석
a =10

In [ ]:
#미션2. 여러분의 변수를 만들어봅시다. my_var라는 이름의 변수를 만들고, print로 출력해서 확인해봅시다 #123

In [ ]:
#숫자형

In [ ]:
#연산
#더하기

In [ ]:
#빼기

In [ ]:
#곱셈

In [ ]:
 #제곱

In [ ]:
#나누기

In [ ]:
 #나머지

In [ ]:
#몫

In [ ]:
#미션3.0
## 숫자 50과 숫자 50 더해서 출력하기

In [ ]:
#숫자, 문자, 불린
##문자열

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기

In [ ]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넢은 수식을 작성해봅니다.

#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다

#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.

#위의 세변수를 출력해서 확인해봅시다

In [ ]:
#불린
##자료 묶음으로 리스트 튜플

In [ ]:
#불린

In [ ]:
#and or not

In [ ]:
#미션4. 비교연산자로 명제 만들기

## == 혹은 != 연산자를 이용해서 True인 명제를 ans1에 넣어봅시다.


## > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다


##위의 변수를 출력해서 정답을 확인해봅시다.

In [ ]:
##데이터 묶음으로 표현이 가능한 자료형 : 리스트

In [ ]:
#뽑아오기 찾기 : 인덱싱 "문자열'작은따오옴표'"

In [ ]:
#인덱싱

In [ ]:
#인덱싱

In [ ]:
#인덱싱

In [ ]:
#슬라이싱: 쪼개기

In [ ]:
 #n-1

In [ ]:
#n-1

In [ ]:
#인덱싱을 사용해서 수정도 가능해요

In [ ]:
#추가도 가능해요

In [ ]:
#추가하는 방법은 append, insert

In [ ]:
#미션3.1
## 리스트 50과 리스트 50 더해서 출력하기

In [ ]:
#교통카드충전하기

In [ ]:
###if 문 조건을 배울거다

In [ ]:
#elif:  그렇지않으면

In [ ]:
##응용 . 점심메뉴 정하기

In [ ]:
#or and

In [ ]:
#if는 중첩이가능하다= if 속에 if를 사용할수 잇다

In [ ]:
#미션5. 2배로 적금만들기

##변수 money에 input을 이용해서 입력을 받아봅시다.


##money를 int형으로 변환해서, 다시 money에 넣어줍니다.

##money를 2배로 불려서 print로 출력을 해봅시다

In [ ]:
#미션6. 기차놀이
#현재 기차에는 3명의 승객이 탑승하고 있습니다. ('금비','은비','동비')


#서울역에 정차했습니다.
##승객 '까비'를 맨 뒷칸에 태우세요

print('서울역 도착,//', train)

#대전역에 정차했습니다.
##1등석 승객 '선녀'가 탑습했습니다. 맨앞에 태우세요

print('대전역 도착.//', train)


#동대구역에 정차했습니다.
##승객 '은비'를 하차시켜주세요

print('동대구역 도착.//', train)

#마지막 역인 부산에 정차했습니다.
##원할한 하차를 위해 손님들의 자리를 사전순으로 다시 지정해주세요

print('부산역 도착.//', train)

In [ ]:
#미션6. 홀짝판별기

##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.


##if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다

In [ ]:
#미션7. 업-다운

##변수 answer에 수 1~50 중 하나를 넣어봅시다.


##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.


##if-elif-else 문으로
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다.

In [ ]:
#반복문 while

In [ ]:
#미션8
#미션
#while을 이용해서 "i 년째 수감중입니다."를 출력해봅시다.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해봅시다.

In [ ]:
#반복문 for를 실습해보자
# for 원소 in 변수:

In [ ]:
#range() 연속된 숫자를 만드는 함수

In [ ]:
##for break-> 루프 무한 반복 구문 빠져나올수잇겠금 <-> pass: 결과 가 없이 지나감
##if: pass break

In [ ]:
#미션 19단 외우기 #변수i사용해보기

In [ ]:
#회원가입

In [ ]:
##import를 통해서 불러오기

In [ ]:
#1차원 배열 array 만들어보기

In [ ]:
##2차원 배열을 만들어볼께요

In [ ]:
##3차원 배열

In [ ]:
# 2차원 배열 인덱싱

In [ ]:
 ##1차원

In [ ]:
##데이터프레임 -> 다차원 배열

In [ ]:
##판다스로 데이터 로드
#csv 업로드, URL로드
california = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv")

In [ ]:
##loc(열,행)

In [ ]:
#iloc(순서)