<a href="https://colab.research.google.com/github/KimEun-Bi/etc../blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%AF%B8%EC%85%98(%EB%AC%B8%EC%A0%9C)_9%EC%9B%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#파이썬 기초

In [ ]:
#코드를 작성할 거예요 ###주석이예요

In [ ]:
#print는 출력을 하게 해줍니다.
print("Hello world")

Hello world

print 배웁니다

**메모**

In [ ]:
#미션1. 이름으로 삼행시 짓기
print("김 치전이 먹고 싶어요")
print("은 비랑")
print("비 내리는 날에")

김 치전이 먹고 싶어요
은 비랑
비 내리는 날에

In [ ]:
print("'김' 치전이 먹고 싶어요")
print("'은' 비랑")
print("'비' 내리는 날에")

'김' 치전이 먹고 싶어요
'은' 비랑
'비' 내리는 날에

In [ ]:
print('"김" 치전이 먹고 싶어요')
print('"은" 비랑')
print('"비" 내리는 날에')

"김" 치전이 먹고 싶어요
"은" 비랑
"비" 내리는 날에

In [ ]:
######주석

In [ ]:
my_var1 = "한글"
print(my_var1)

한글

In [ ]:
#미션2. 여러분의 변수를 만들어봅시다. my_var라는 이름의 변수를 만들고, print로 출력해서 확인해봅시다 #123
my_var = 10
print(my_var)

10

In [ ]:
#숫자형
type(10) #int = 정수

In [ ]:
type(10.4) #float = 실수

In [ ]:
#연산
#더하기
a = 10
b = 2
a+b

In [ ]:
#빼기
a-b

In [ ]:
#곱셈
a*b

In [ ]:
 #제곱
a**b

In [ ]:
#나누기
a/b

In [ ]:
 #나머지
a%b

In [ ]:
#몫
a//b

In [ ]:
#미션3.0
## 숫자 50과 숫자 50 더해서 출력하기
a = 50
b = 50

print(a+b)

100

In [ ]:
print(50+50)

100

In [ ]:
type("hello world") #str = 문자형을 뜻합니다

In [ ]:
print("안녕"+"하세요")

In [ ]:
print("안녕"*3)

In [ ]:
#미션3.1
## 문자열 50과 문자열 50 더해서 출력하기
a ='50'
b = '50'
print(a+b)

In [ ]:
print('50'+'50')

In [ ]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넢은 수식을 작성해봅니다. 
intdiv = 16//4
#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다
modular = 7%6
#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.
expo = 4**2
#위의 세변수를 출력해서 확인해봅시다
print(intdiv)
print(modular)
print(expo)

4
1
16

In [ ]:
#미션3.3 거꾸로 계산기
# //을 이용해서 변수 intdiv에 4를 넢은 수식을 작성해봅니다. 
intdiv = 16//4
#%을 이용하여 변수 modular에 1을 넣는 수식을 작성해봅니다
modular = 7%6
#**을 이용해서 변수 expo에 16을 넣는 수식을 작성해봅시다.
expo = 4**2
#위의 세변수를 출력해서 확인해봅시다
print(intdiv, modular, expo)

4 1 16

In [ ]:
#불린
##자료 묶음으로 리스트 튜플

In [ ]:
#불린
#faㅣse 또는 true 출력

a = 1
b = 2
print(a<b)

In [ ]:
print(a>b)

In [ ]:
t,f = True, False
type(t)

In [ ]:
#and or not
ab = 3==3 and 2<5
bc = 3==4 or 2<5
print(ab, bc)

In [ ]:
cd = not 4>5
print(cd)

In [ ]:
#미션4. 비교연산자로 명제 만들기
## == 혹은 != 연산자를 이용해서 True인 명제를 ans1에 넣어봅시다.
ans1 = 3==3
## > 혹은 < 연산자를 이용해서 False인 명제를 ans2에 넣어봅시다
ans2 = 4<3
##위의 변수를 출력해서 정답을 확인해봅시다. 
print(ans1, ans2)

True False

In [ ]:
##데이터 묶음으로 표현이 가능한 자료형 : 리스트
a = [1,2,3,4,5]

In [ ]:
type(a)

In [ ]:
v = ["화이자", "모더나", "AZ", "얀센"]
type(v)

In [ ]:
#데이터를 뽑아오는것을 인덱싱이라하고, 파이썬의 순서는 0부터 시작을 한다!!!
v[0]

In [ ]:
#인덱싱
v[1]

In [ ]:
#인덱싱
v[-1]

In [ ]:
v = ["화이자", "모더나", "AZ", "얀센"]

In [ ]:
#슬라이싱: 데이터를 쪼개기
v[1:]

In [ ]:
v[:2]

In [ ]:
v[:]

In [ ]:
 #n-1
v[:-1]

In [ ]:
#인덱싱을 사용해서 수정도 가능해요
v[2] = 'AA'
v

In [ ]:
#추가도 가능해요
v.append('BB')
v

['화이자', '모더나', 'AA', '얀센', 'BB', 'BB', 'BB', 'BB']

In [ ]:
v.remove('BB')

In [ ]:
v

In [ ]:
v.remove('화이자')
v

In [ ]:
#추가하는 방법은 insert
v.insert(0,'CC')

In [ ]:
v

In [ ]:
v

['AA', 'BB', 'BB', 'BB', 'CC', '모더나', '얀센']

In [ ]:
v = ["화이자", "모더나", "AZ", "얀센"]

In [ ]:
#정렬 sort()
v.sort()

In [ ]:
v

In [ ]:
#거꾸로 정렬 reverse()
v.reverse()
v

In [ ]:
#index -> 위치를 알려줍니다
v.index('화이자')

In [ ]:
#미션3.1
## 리스트 50과 리스트 50 더해서 출력하기
a = [50]
b = [50]
print(a+b)

[50, 50]

In [ ]:
print([50]+[50])

[50, 50]

In [ ]:
z = ["화이자", "화이자", "모더나", "AZ", "얀센"]
z

['화이자', '화이자', '모더나', 'AZ', '얀센']

In [ ]:
z.index('화이자')

0

In [ ]:
#튜플: 수정이 불가능
a = ('화이자', '모더나')
a

In [ ]:
type(a)

In [ ]:
#set 중복이 허용되지 않습니다.
user_a = {"user_1", "user_2", "user_3", "user_1"}
user_b = {"user_1","user_2"}
print(user_a)

In [ ]:
type(user_a)

In [ ]:
#교집합
user_a & user_b

In [ ]:
#합집합
user_a | user_b

In [ ]:
#차집합
user_a - user_b

In [ ]:
#딕셔너리 dictionary : key 와 value(값)
dic_1 = {'제조사': '화이자', '플랫폼':'핵산', '연령':'만 16세이상'}
dic_1

In [ ]:
type(dic_1)

In [ ]:
dic_1['제조사']

'화이자'

In [ ]:
#input -> 자료 입력 => 숫자 입력 후 엔터를 치셔야 됩니다.
a = input()
a

100

'100'

In [ ]:
type(a)

In [ ]:
#형변환: 자료형(변수이름)
b = int(a)
b

In [ ]:
type(b)

In [ ]:
#미션5. 2배로 적금만들기
##변수 money에 input을 이용해서 입력을 받아봅시다.
money = input()
##money를 int형으로 변환해서, 다시 money에 넣어줍니다.
money = int(money)
##money를 2배로 불려서 print로 출력을 해봅시다
print(money*2)

In [ ]:
#미션6. 기차놀이
#현재 기차에는 3명의 승객이 탑승하고 있습니다. ('금비','은비','동비')
train = ['금비','은비','동비']
#서울역에 정차했습니다.##승객 '까비'를 맨 뒷칸에 태우세요
train.append('까비')
print('서울역 도착,//', train)
#대전역에 정차했습니다.##1등석 승객 '선녀'가 탑습했습니다. 맨앞에 태우세요
train.insert(0, '선녀')
print('대전역 도착.//', train)
#동대구역에 정차했습니다.##승객 '은비'를 하차시켜주세요
train.remove('은비')
print('동대구역 도착.//', train)
#마지막 역인 부산에 정차했습니다.##원할한 하차를 위해 손님들의 자리를 사전순으로 다시 지정해주세요
train.sort()
print('부산역 도착.//', train)

서울역 도착,// ['금비', '은비', '동비', '까비']
대전역 도착.// ['선녀', '금비', '은비', '동비', '까비']
동대구역 도착.// ['선녀', '금비', '동비', '까비']
부산역 도착.// ['금비', '까비', '동비', '선녀']

In [ ]:
#교통카드충전하기

In [ ]:
###if 문 조건을 배울거다
a = 42
b = 100

if b>a:
  print("b가 a 보다 크다")

In [ ]:
a = 100
b = 42

if b>a:
  print("b가 a 보다 크다")
else:
  print("b가 a보다 작거나 같다")

In [ ]:
#elif:  그렇지않으면
a = 41
b = 41

if b>a:
  print('b가 a보다 큼')
elif a ==b:
  print('a와b는 같음')

In [ ]:
#else -> if - elif - else

In [ ]:
##응용 . 점심메뉴 정하기
메뉴 = "김밥"
중국집 = {"짜장면","짬뽕","볶음밥"}
일식집 = {"초밥", "돈까스", "우동"}

if 메뉴 in 중국집:
  print("중국집으로 가자")
elif 메뉴 in 일식집:
  print("일식집으로 가자")
else:
  print("맥도날드나 먹자")

In [ ]:
#or and
a = 42
b = 100

if b>a and b<200:
  print("b가 a보다크고 200보다는 작음")

b가 a보다크고 200보다는 작음

In [ ]:
a = 42
b = 8
if b>a or b>5:
  print("b가 a보다 크거나 5보다 크다")

In [ ]:
#if는 중첩이가능하다= if 속에 if를 사용할수 잇다
a = 10
b = 100
if b>10:
  print("b가 10보다 큼")
  if b>a:
    print("b가 a보다 크다")

In [ ]:
#미션6. 홀짝판별기
##input()을 이용해서 숫자(정수) 입력을 받고, 변수 num에 이를 넣어봅시다.
num = int(input())
#if-else 문을 이용해서 만약 입력받은 수가 홀수면 "(입력받은수) 홀수입니다."
##짝수면 "(입력받은수) 짝수입니다"를 출력해봅시다
if num%2 == 1:
  print(num, "홀수입니다")
else:
  print(num, "짝수입니다")

In [ ]:
#미션7. 업-다운
##변수 answer에 수 1~50 중 하나를 넣어봅시다.
answer = 2
##input을 통해 숫자형으로 입력을 받아서 변수 submit에 저장해봅시다.
submit = int(input())
##if-elif-else 문으로 
###만약 answer 보다 submit이 더 크면 "정답보다 더 큰 수를 입력했습니다"
###만약 answer 보다 submit이 더 작으면 "정답보다 더 작은 수를 입력했습니다"
###만약 answer 보다 submit이 같으면 "정답!"을 출력합니다. 
if answer < submit:
  print("정답보다 더 큰 수를 입력했습니다")
elif answer > submit:
  print("정답보다 더 작은 수를 입력했습니다")
else:
  print("정답!")

5
정답보다 더 큰 수를 입력했습니다

In [ ]:
#input()

In [ ]:
#반복문 while

i = 1
while i<11:
  print(i)
  i= i+1

In [ ]:
#미션8
#미션
#while을 이용해서 "i 년째 수감중입니다."를 출력해봅시다.
#while문이 종료된 후에는, "감옥에서 석방되었습니다!"를 출력해봅시다.

i = 1
while i <=10:
  print(i, "년째 수감중입니다")
  i=i+1
print("감옥에서 석방되었습니다!")

In [ ]:
i = 1
while i <11:
  print(i-1, "년째 수감중입니다")
  i=i+1
print("감옥에서 석방되었습니다!")

0 년째 수감중입니다
1 년째 수감중입니다
2 년째 수감중입니다
3 년째 수감중입니다
4 년째 수감중입니다
5 년째 수감중입니다
6 년째 수감중입니다
7 년째 수감중입니다
8 년째 수감중입니다
9 년째 수감중입니다
감옥에서 석방되었습니다!

In [ ]:
#반복문 for를 실습해보자
# for 원소 in 변수:

fruits = ["apple", "banana", "peach", "fig"]

for x in fruits:
  print(x)

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
#range() 연속된 숫자를 만드는 함수
for i in range(1,11):
  print(i)

In [ ]:
for i in range(11):
  print(i)

In [ ]:
for i in range(1,11,3):
  print(i)

In [ ]:
for i in range(100,10,-10):
  print(i)

In [ ]:
##for break-> 루프 무한 반복 구문 빠져나올수잇겠금 <-> pass: 결과 가 없이 지나감
##if: pass break
fruits = ["apple", "banana", "peach", "fig"]
for x in fruits:
  print(x)
  if x =="peach":
    break #구문을 빠져나와라

In [ ]:
fruits = ["apple", "banana", "peach", "fig"]
for x in fruits:
  print(x)
  if x =="peach":
    pass

In [ ]:
#미션 19단 외우기 #변수i사용해보기
for i in range(1,20):
  print("19 *", i, "=", 19*i)

In [ ]:
for i in [1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,17,18,19]:
  print("19 *", i, "=", 19*i)

In [ ]:
##import를 통해서 불러오기
import pandas as pd

In [ ]:
#1차원 시리즈 만들기
city= pd.Series(['서울','부산','대전'])
city

In [ ]:
population= pd.Series([100,200,300])
population

In [ ]:
#2차원의 데이터프레임
pd.DataFrame({'도시':city , '인구': population})

In [ ]:
city= pd.Series(['서울','부산','대전','대구'])
population= pd.Series([100,200,300])
pd.DataFrame({'도시':city , '인구': population})

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol') #아이돌 평판지수 데이터

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
df.loc[:]

In [ ]:
df.loc[:,'이름']

In [ ]:
df.loc[:,['이름','생년월일']]

In [ ]:
df.iloc[:]

In [ ]:
df.iloc[:,0]

In [ ]:
df.iloc[:,[0,2]]

In [ ]:
df.iloc[:,0:2]

In [ ]:
df.iloc[1:5,0:2]

In [ ]:
#groupby -> 피벗테이블
df.groupby('소속사').count()

In [ ]:
df.groupby('소속사').mean()

In [ ]:
df.groupby('소속사').sum()

In [ ]:
df.groupby('소속사').median()

In [ ]:
df_right = df.drop(labels = '혈액형', axis =1)

In [ ]:
df_right.head()

In [ ]:
df2 = pd.read_csv("https://bit.ly/ds-korean-idol-2")
df2.head()

In [ ]:
pd.concat([df_right, df2], sort=False)

In [ ]:
pd.concat([df_right, df2], axis=1)

In [ ]:
pd.merge(df_right,df2, on='이름', how ='inner')

In [ ]:
pd.merge(df_right,df2, on='이름', how ='outer')

In [ ]:
pd.merge(df_right,df2, on='이름', how ='right')

In [ ]:
pd.merge(df_right,df2, on='이름', how ='left')

In [ ]:
df.info()

In [ ]:
df['키']

In [ ]:
df['키'].fillna(-1)

In [ ]:
df.fillna(df.mean())

In [ ]:
df.dropna()

In [ ]:
##판다스로 데이터 로드 
#csv 업로드, URL로드
california = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv")

In [ ]:
##loc(열,행)

In [ ]:
#iloc(순서)